{{ define "main" }}
  <h2>"{{ .Title }}" の記事一覧</h2>
  {{ $paginator := .Paginate (.Pages.ByDate.Reverse) 10 }}
  {{ range $paginator.Pages }}
    <hr>
    <time>{{ .Date.Format "2006-01-02" }}</time>

    {{ with .Params.categories }}
      {{ range . }}
        <a href="/categories/{{ . | urlize }}">&nbsp;&nbsp;{{ . }}</a>
      {{ end }}
    {{ end }}

    {{ with .Params.tags }}
      {{ range . }}
        <a href="/tags/{{ . | urlize }}">&nbsp;&nbsp;#{{ . }}</a>
      {{ end }}
    {{ end }}

    <h2 class="no-border"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    <p>{{ .Summary }}</p>
    <hr>
  {{ end }}

  <div class="pagination">
    {{ if $paginator.HasPrev }}
      <a href="{{ $paginator.Prev.URL }}"><< back</a>
    {{ end }}
    {{ range $page := $paginator.Pagers }}
      {{ if eq $page $paginator }}
        <strong>[{{ $page.PageNumber }}]</strong>
      {{ else }}
        <a href="{{ $page.URL }}">{{ $page.PageNumber }}</a>
      {{ end }}
    {{ end }}
    {{ if $paginator.HasNext }}
      <a href="{{ $paginator.Next.URL }}">next >></a>
    {{ end }}
  </div>
{{ end }}
