body {
  color: #ffffff;
  background-color: #222;
  line-height: 1.5;
  margin: 20px;
}

@media (min-width: 768px) {
  body {
    padding-right: 2.5%;
    padding-left: 2.5%;
  }

}

header {
  border-bottom: 1px solid #ffffff;
  margin-bottom: 50px;
}

.header-top {
  display: flex;
  justify-content: space-between;
}


.site-menu {
  overflow-x: auto;
  white-space: nowrap;
}


.menu-item a{
  font-size: 24px;
  margin-right: 40px;
}

.menu-item {
  list-style: none;
  display: inline-block;
}


footer {
  text-align: center;
  color: greenyellow;
  border-top: 1px solid #ffffff;
  margin-top: 50px;
}

a {
  color: #639dff;
  text-decoration: none;
}


h1:not(.no-border),
h2:not(.no-border),
h3:not(.no-border),
h4:not(.no-border),
h5:not(.no-border),
h6:not(.no-border) {
  border-bottom: 1px solid #808080; 
  margin-top: 25px;
  padding-bottom: 10px;
}


ul, ol {
  padding-left: 0; margin-left: 0; 
}