<div class="header-inner">
    <div class="header-top">
        <a class="header-logo"  href="/">
            <img src="/logo.png" width="200" height="50">
        </a>
        <div class="gcse-search"></div>
    </div>
    
    <div class="header-bottom">
        <nav class="site-menu">
            <ol class="menu-group">
                <li class="menu-item"><a href="/profile">/profile</a></li>
                <li class="menu-item"><a href="/blog">/blog</a></li>
                <li class="menu-item"><a href="/webring">/webring</a></li>
                <li class="menu-item"><a href="/misc">/misc</a></li>
            </ol>
        </nav>
    </div>
</div>
