<div class="header-inner">
    <div class="header-top">
        <a class="header-logo" href="https://owasikohu.dev">
            <img src="https://owasikohu.devlogo.png" width="200" height="50">
        </a>
        <script async src="https://cse.google.com/cse.js?cx=c6a4584bafcd14241"></script>
        <div class="gcse-search"></div>
    </div>
    
    <div class="header-bottom">
        <nav class="site-menu">
            <ol class="menu-group">
                <li class="menu-item"><a href="https://owasikohu.dev/profile">/profile</a></li>
                <li class="menu-item"><a href="https://owasikohu.dev/blog">/blog</a></li>
                <li class="menu-item"><a href="https://owasikohu.dev/webring">/webring</a></li>
                <li class="menu-item"><a href="https://owasikohu.dev/misc">/misc</a></li>
            </ol>
        </nav>
    </div>
</div>
